@using My_Site.Models;
@model SparePartListViewModel

@{
    ViewBag.Title = "Товары";
}
<h2>Товары:</h2>
<p>
@foreach (var p in @Model.SpareParts)
{
    @Html.Partial("_SparePartWithDesc", p)
}
</p>
