@model IEnumerable<string>
<p>
    @foreach (string link in Model)
    {
        @Html.RouteLink(link, new
    {
        controller = "SparePart",
        action = "List",
        category = link,
        page = 1
    }, new
    {
        @class = "btn btn-block btn-default btn-lg"
        + (link == ViewBag.SelectedCategory ? " btn-primary" : "")
    })
    }
</p>
    <hr/>

    @Html.Action("SummaryInformation", "Cart")
<p>
    @Html.RouteLink("Корзина", new
    {
        controller = "Cart",
        action = "Index",
        returnUrl = Request.Url.PathAndQuery
    }, 
    new { @class = "btn btn-block btn-lg btn-warning"})
</p>