@using My_Site.Models;
@model SparePartListViewModel


@{
    ViewBag.Title = "Управление сайтом";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";<!--(Ajax.BeginForm("Index", null)-->  
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список товаров</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Admin", FormMethod.Get))      
        {                 
            <input type="text" name="search" />
            <input type="submit" class="btn btn-success" value="Поиск" />  
            if (Model.SpareParts.Count() != 0)
            {
                var grid = new WebGrid(canPage: true, rowsPerPage: 20, canSort: true, ajaxUpdateContainerId: "gridd");
                grid.Bind(Model.SpareParts, rowCount: Model.SpareParts.Count(), autoSortAndPage: true);
                @grid.GetHtml(htmlAttributes: new { id = "gridd", @class = "table" },
            columns: grid.Columns(
                    grid.Column("Id", "Id"),
                    grid.Column("Mark", "Производитель"),
                    grid.Column("Model", "Модель"),
                    grid.Column("PriceString", "Цена"),
                    grid.Column("Quantity", "В наличии"),
                    grid.Column(format: (item) => Html.ActionLink(" ", "Edit", new { spareId = item.Id }, new { @class = "a edit" })),
                    grid.Column(format: (item) => Html.ActionLink(" ", "Delete", new { spareId = item.Id },  new { @class = "a delete" }))
            ));
            }
            else
            {
                <h2>Ничего не найдено :(</h2>
            }
        }
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить", "Create", null,
            new { @class = "btn btn-default" })
        <p>
    </div>
</div>

