<style type="text/css"> 
    .aw { background-color: #222222; border-color: #222222; color: #999999; height: 255px; text-align: center; }
</style>
       


<div >       
        Категории сайтаdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
</div>